*.iml
.gradle
/app/local.properties
/local.properties
/app/.idea/libraries
/app/.idea/modules.xml
/app/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/app/.idea
/.idea
/local.properties
/app/local.properties
